*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(213, 167, 81);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.listas{
    display: flex;
    padding-left: 20px;
}

.listas li {
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.7px;
}

a{
    color: black;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.logo{
    width: 230px;
    height: 230px;
}

form{
    display: flex;
    justify-content: center;
}

.img-logo{
    width: 100px;
}

input{
    border-radius: 1.5%;
    border: 1px solid white;
    padding: 10px;
    width: 432px;
    margin-bottom: 1.3rem;
}


/*export const pedirProd = () => {
    return new Promise((resolve) => {
        resolve(productos)
    })
} */

/*export const AsynMock = [
    {nombre: "Brownie comun",id:1 ,precio: 800, img: "../imgReact/brownie.png",categoria:"Brownie" ,descripcion: "este es uno de los mejores brownies" },
    {nombre: "maicena de leche",id:2, precio: 2500,img:"../imgReact/maicena.png",categoria:"Tortas" ,descripcion: "este es uno de los mejores brownies" },
    {nombre: "Brownie chips",id:3, precio: 700, img:"../imgReact/brownie.png",categoria:"Brownie" ,descripcion: "este es uno de los mejores brownies" },
    {nombre: "maicena de dulce de leche",id:4, precio: 1200,img:"../imgReact/maicena.png",categoria:"Tortas"  ,descripcion: "este es uno de los mejores brownies" },
]*/

